<!DOCTYPE html>
<html>
<head>

	<title>Aswin Budhathoki | Full Stack Web Developer | asminmj13@gmail.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="resume.css" media="all" />


</head>
<body>

	<div class="card" class="container">
		<div class="card-body">
		  Resume
		</div>
	  </div>
	  
	
		<div >
			<div class="container">
				<div class="jumbotron">
					<div class="card-body text-dark">
						<h2 class="card-title">Aswin Budhathoki <i class="bi bi-person"></i></h2>
						<h5> Full Stack Web Developer</h5>
					    <h5><a href="mailto:asminmj13@gmail.com"></i> asminmj13@gmail.com</a> <i class="bi bi-envelope-at"></i></h5>
						<h5></i> 9843945177 <i class="bi bi-telephone-forward"></i></h5>
						
					  </div>
					
				</div>
				<h2>Profile <i class="bi bi-person"></i></h2>
				<p class="enlarge">
					I am a full stack web developer with experience in .NET, React and Python. I have built and deployed web applications using various technologies and frameworks, such as ASP.NET Core, Django, Flask, React.js, Redux, Bootstrap, tailwind css and Material-UI. I am proficient in HTML, CSS, JavaScript, C#, Python and SQL. I am also familiar with RESTful APIs,git. I enjoy learning new skills and solving challenging problems. I am looking for opportunities to work on exciting and innovative projects that can make a positive impact.
				</p>
				<div class="jumbotron">
					<h2>Skills and Talent <i class="bi bi-award"></i></h2>
					<div class="card-deck">
						<div class="card">
						  
						  <div class="card-body">
							
							<p class="card-text">Frontend</p>
							<p class="card-text"><small class="text-muted">Web design  requires creativity, technical knowledge  skills use frameworks and libraries .Bootstrap, Tailwind CSS and Material UI</small></p>
							<ul class="talent">
								<li>HTML</li>
								<li>CSS</li>
								<li class="last">Javascript</li>
							</ul>  
						</div>
			
						</div>
						<div class="card">
						  
						  <div class="card-body">
							
							<p class="card-text">Backend.</p>
							<p class="card-text"><small class="text-muted">Currently i use SQLite for database and use python manage.py make migration for python and dotnet ef migrate for .Net.</small></p>
							<ul class="talent">
								<li>C#</li>
								<li>Python</li>
								<li class="last">.Net razor pages</li>
							</ul>  
						</div>
						</div>
						<div class="card">
						  
						  <div class="card-body">
							
							<p class="card-text">Technical</p>
							<p class="card-text"><small class="text-muted">knowledge of software and system</small></p>
							<ul class="talent">
								<li>Windows 11</li>
								<li>Kali Linux</li>
								<li class="last">Ubuntu</li>
							</ul>
						</div>
						</div>
					  </div>
					</div>
				</div>


				<div class="container">
					<div class="jumbotron">
						<h2>Experience <i class="bi bi-calendar"></i></h2>
						<div class="card-deck">
							<div class="card">
							  
							  <div class="card-body">
								
								<p class="card-text">Website Designer</p>
								<p class="card-text"><small class="text-muted">Senior Interface Designer</small></p>
								<ul class="talent">
									<li>HTML</li>
									<li>CSS</li>
									<li class="last">Javascript</li>
									2020-2021
								</ul>  
							</div>
				
							</div>
							<div class="card">
							  
							  <div class="card-body">
								
								<p class="card-text">EKYC</p>
								<p class="card-text"><small class="text-muted">Data Verification</small></p>
								<p>Verification of identity according to provided document </p>
								2021-2022
								
							</div>
							</div>
							<div class="card">
							  
							  <div class="card-body">
								
								<p class="card-text">Freelancing</p>
								<p class="card-text"><small class="text-muted">Upwork</small></p>
								<p>Freelance currently at upwork according to clients needs</p>
								2022-2023
							</div>
							</div>
						  </div>
						
		
						</div>
					</div>
				</div>
				<div class="container">
					<div class="jumbotron">
						<h2>Education <i class="bi bi-mortarboard-fill"></i></h2>
						<div class="row">
							<div class="col-sm-6">
							  <div class="card">
								<div class="card-body">
								  <h5 class="card-title">K.U.H.S</h5>
								  <p class="card-text">Completed my school in 2016</p>
								  
								</div>
							  </div>
							</div>
							<div class="col-sm-6">
							  <div class="card">
								<div class="card-body">
								  <h5 class="card-title">L.A</h5>
								  <p class="card-text">My +2 was completed in year 2018.</p>
								  
							  </div>
							</div>
						  </div>
						  <hr>
						  <div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title">T.U</h5>
								<p class="card-text">Cureently my undergraduate degree in running</p>
								
							</div>
						  </div>
						</div>
					</div>
				</div>

			
				</div>
			</div>
		</div>

		<div class="container">
			<p>Aswin Budhathoki &mdash; <a href="mailto:asminmj13@gmail.com">asminmj13@gmail.com</a> &mdash; 9843945177</p>
		</div>

	


</body>
</html>

